@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Silka;
  font-weight: 400;
  src: url("./fonts/silka-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: Silka;
  font-weight: 600;
  src: url("./fonts/silka-medium-webfont.woff2") format("woff2");
}

@font-face {
  font-family: Silka;
  font-weight: 700;
  src: url("./fonts/silka-bold-webfont.woff2") format("woff2");
}

.radix-themes {
  --default-font-family: var(--font-silka) !important;
}

input:focus {
  outline: none;
}

.no-radius,
.no-radius::after {
  border-radius: 0 !important;
  border: 0 !important;
}

.card-inner-overflow-y-scroll > .rt-CardInner {
  overflow-y: auto;
}

/* shadcn */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
