@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Silka;
  font-weight: 400;
  src: url("./fonts/silka-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: Silka;
  font-weight: 600;
  src: url("./fonts/silka-medium-webfont.woff2") format("woff2");
}

@font-face {
  font-family: Silka;
  font-weight: 700;
  src: url("./fonts/silka-bold-webfont.woff2") format("woff2");
}

.radix-themes {
  --default-font-family: var(--font-silka) !important;
}

input:focus {
  outline: none;
}

.rt-AvatarRoot:where(.rt-r-size-1) {
  --avatar-size: var(--space-4) !important;
  --avatar-fallback-one-letter-font-size: var(--font-size-2);
  --avatar-fallback-two-letters-font-size: var(--font-size-1);
  border-radius: max(var(--radius-2), var(--radius-full));
  letter-spacing: var(--letter-spacing-1);
}

.no-radius,
.no-radius::after {
  border-radius: 0 !important;
  border: 0 !important;
}

.card-inner-overflow-y-scroll > .rt-CardInner {
  overflow-y: auto;
}
